.modalWrap {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    z-index: 2;
    padding: 10px;
}

.show {
    display: block;
}

.closeBG {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: bgColor .3s forwards;
    background-color: transparent;
    backdrop-filter: blur(0px);
    z-index: 1;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    width: calc(100% - 20px);
    height: 600px;
    border-radius: 12px;
    border: 1px solid lightgray;
    z-index: 10;
    padding: 15px;
    overflow-y: auto;
    animation: showModal .3s forwards;
    gap: 20px;
}

.hideModal {
    animation: hideModal .3s forwards;
}

.hideBG {
    animation: bgColor .3s reverse forwards;
}

@keyframes showModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideModal {
    0% {
        top: 50%;
    }

    100% {
        top: -600px;
    }
}

@keyframes bgColor {
    0% {
        background-color: transparent;
        backdrop-filter: blur(0px);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.507);
        backdrop-filter: blur(10px);
    }
}