.modalWrap {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    z-index: 2;
    padding: 10px;
}

.show {
    display: block;
}

.closeBG {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: bgColor .3s forwards;
    background-color: transparent;
    backdrop-filter: blur(0px);
    z-index: 1;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    width: calc(100% - 20px);
    border-radius: 12px;
    border: 1px solid lightgray;
    z-index: 10;
    padding: 15px 5px 0px 0px;
    overflow-y: hidden;
    animation: showModal .3s forwards;
}

.errorText,
.emptyText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    width: max-content;
    color: white;
}

.imagesWrap {
    position: relative;
    display: grid;
    min-height: 565px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-auto-rows: 270px;
    justify-content: center;
    padding-inline: 20px;
    gap: 10px;
}

.modalPagination {
    position: fixed;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.hideModal {
    animation: hideModal .3s forwards;
}

.hideBG {
    animation: bgColor .3s reverse forwards;
}

.changePage {
    top: 10px;
    right: 10px;
    position: absolute;
    width: 100px;
    height: 30px;
}


.modelWrap {
    position: relative;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    min-height: 270px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    min-height: 270px;
    max-height: 270px;
}

.modelImage {
    width: 100%;
    max-height: 270px;
    min-height: 270px;
    object-fit: cover;
    border-radius: 8px;
}

.modelName,
.modelCategory {
    left: 5px;
    bottom: 5px;
    padding: 5px 10px;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 8px;
    text-transform: uppercase;
    max-width: 95%;
    color: white;
}

.modelName {
    bottom: 40px;
}

.selectedText {
    position: absolute;
    transition: opacity .3s;
    opacity: 0;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 8px;
    color: white;
    padding: 5px 10px;
    top: 5px;
    right: 5px;
}

.selected {
    opacity: 1;
}

.class,
.version {
    left: 5px;
    bottom: 5px;
    border-radius: 8px;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.753);
    text-transform: uppercase;
    padding: 5px 10px;
    color: white;
}

.version {
    left: 95px;
}

.loraName {
    font-size: 18px;
}

.blockBtn {
    pointer-events: none;
    filter: blur(8px);
}

.closeBtn {
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    border: 2px solid darkgray;
    border-radius: 100%;
    transition: background-color .3s;
    color: white;
}

.closeBtn:hover {
    background-color: rgba(169, 169, 169, 0.582);
}

.searchInput {
    max-width: 200px;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid darkgray;
    font-size: 18px;
    margin: 10px 0px 15px 15px;
    transition: all .3s;
}

.searchInput:focus, .searchInput:hover {
    border-color: white;
}

.lightUnderline {
    border-color: white;
}

.searchInput::placeholder {
    font-size: 18px;
    color: rgb(167, 167, 167);
}

.btnStyle {
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.bWrap {
    position: relative;
    min-height: 270px;
    max-height: 270px;
}

.searchWrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ctgBtn {
    cursor: pointer;
    border: 1px solid #ffffff8a;
    border-radius: 8px;
    background-color: transparent;
    padding: 7px;
    text-transform: uppercase;
    transition: background .3s;
    color: white;
}

.ctgBtn:hover {
    background-color: rgba(204, 204, 204, 0.363);
}

.selectedCtg {
    background-color: rgba(170, 170, 170, 0.603);
}

.hideErotic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 8px;
    gap: 20px;
}

.blurBtn {
    filter: blur(20px);
}

.eroticText {
    font-size: 30px;
    color: #fff;
}

.hideEroticBtn {
    cursor: pointer;
    min-width: 150px;
    height: 40px;
    border: none;
    background-color: rgba(172, 255, 47, 0.562);
    transition: background .3s;
    border-radius: 8px;
    color: #fff;
}

.hideEroticBtn:hover {
    background-color: rgba(172, 255, 47, 0.705);
}

@media (max-width: 900px) {
    .imagesWrap {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

@media (max-width: 750px) {
    .imagesWrap {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

@media (max-width: 450px) {
    .imagesWrap {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
}


@keyframes showModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideModal {
    0% {
        top: 50%;
    }

    100% {
        top: -600px;
    }
}

@keyframes bgColor {
    0% {
        background-color: transparent;
        backdrop-filter: blur(0px);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.507);
        backdrop-filter: blur(10px);
    }
}