.mainPage {
    display: flex;
    position: relative;
    height: 100vh;
    background-color: #16181D;
    overflow-x: hidden;
}

.settingSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    direction: ltr;
}

.settingSectionWrap {
    direction: rtl;
    min-width: 400px;
    max-width: 650px;
    width: 100%;
    height: 100vh;
    padding: 15px 15px;
    overflow-y: auto;
}

.generateBtnWrap {
    border-radius: 12px;
}


.btnWrap {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    max-height: 60px;
}

.btnWrap span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnBG {
    position: absolute;
    width: 650px;
    height: 615px;
    border-radius: 100%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(19, 97, 52, 1) 50%, rgba(252, 176, 69, 1) 100%);
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
    top: 61px;
}

/* .btnWrap:hover .btnBG {
    top: -300px;
} */

.selectBtn,
.generateBtn {
    position: relative;
    cursor: pointer;
    width: 100%;
    min-height: 60px;
    border-radius: 12px;
    border: none;
    border: 1px solid lightgray;
    background-color: transparent;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: all .3s;
    color: white;
    z-index: 1;
}


.promptAreaWrap {
    position: relative;
}

.characters {
    pointer-events: none;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.promptArea {
    padding: 10px;
    font-size: 16px;
    outline-width: 1px;
    outline-color: yellow;
    border: 1px solid darkgray;
    border-radius: 12px;
    resize: none;
    background-color: transparent;
    transition: border .3s;
    width: 100%;
    height: 200px;
    color: #FFF;
}

.invalidText {
    outline: none;
    border-color: darkred;
    background-color: rgba(255, 0, 0, 0.171);
}

.promptArea:focus {
    outline-offset: 0px;
}

.generatedImagesSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-left: 1px solid darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.generatedImagesWrap {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding-inline: 10px;
    padding-bottom: 10px;
}

.generatedImages {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, minmax(150px, 550px));
    grid-auto-rows: 50%;
    gap: 10px;
}

.generatedImage {
    max-width: 550px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.blockedBtn {
    pointer-events: none;
    background-color: rgba(255, 0, 0, 0.171);
    border-color: darkred;
}

.generatingProcess {
    pointer-events: none;
    background-color: rgba(255, 255, 0, 0.555);
    border-color: yellow;
}

.badPromptNotification {
    display: flex;
    border: 1px solid lightcoral;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: -310px;
    width: 300px;
    height: 70px;
    background-color: rgb(180, 87, 87);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFF;
}

.showNotification {
    animation: showAndHideNotification 1.5s;
}

.disabled {
    cursor: not-allowed;
}

.waitingText {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #FFF;
}

.charactersAndRand {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    gap: 10px;
}

.randBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.genImageBtn {
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.negativeCharacters {
    position: absolute;
    pointer-events: none;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    bottom: 15px;
    right: 15px;
}

@keyframes showAndHideNotification {
    0% {
        right: -310px;
    }

    50% {
        right: 10px;
    }

    70% {
        right: 10px;
    }

    100% {
        right: -310px;
    }
}

@media (width <= 850px) {
    .mainPage {
        flex-direction: column;
        align-items: center;
    }

    .settingSectionWrap {
        height: auto;
        min-width: 300px;
        overflow-y: visible;
    }

    .promptArea {
        height: 400px;
    }

    .generatedImagesSection {
        border-left: none;
        padding-inline: 15px;
        margin-bottom: 30px;
    }

    .generatedImagesWrap {
        height: 500px;
        max-width: 620px;
        width: 100%;
        grid-template-columns: repeat(1, minmax(150px, 800px));
    }

    .generatedImage {
        max-width: 800px;
    }

    .mobBtnWrap .btnBG {
        top: -300px;
    }

}

@media (hover: hover) {
    .promptArea:hover {
        border-color: #FFF;
    }

    .btnWrap:hover .btnBG {
        top: -300px;
    }

    .disabled:hover .btnBG {
        top: 61px;
    }
}