* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  overflow-x: hidden;
} */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
  border: 1px solid white;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: gray;
}

.mainPage {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #23272F;
  overflow-x: hidden;
}

.settingSection {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  padding: 10px 15px;
  gap: 12px;
  height: 100vh;
}

.generateBtnWrap {
  border-radius: 12px;
}

.disabled {
  cursor: not-allowed;
}

.selectBtn, .generateBtn {
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: none;
  border: 1px solid lightgray;
  background-color: transparent;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transition: all .3s;
  color: white;
}

.selectBtn:hover, .generateBtn:hover {
  background-color: rgba(211, 211, 211, 0.377);
}

.selectBtn:active, .generateBtn:active {
  background-color: rgba(211, 211, 211, 0.644);
}

.promptAreaWrap {
  position: relative;
}

.characters {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.promptArea {
  padding: 10px;
  font-size: 16px;
  outline-width: 1px;
  outline-color: yellow;
  border: 1px solid darkgray;
  border-radius: 12px;
  resize: none;
  background-color: transparent;
  transition: border .3s;
  width: 100%;
  height: 200px;
  color: #FFF;
}

.invalidText {
  outline: none;
  border-color: darkred;
  background-color: rgba(255, 0, 0, 0.171);
}

.promptArea:focus {
  outline-offset: 0px;
}

.promptArea:hover {
  border-color: #FFF;
}

.generatedImagesWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-left: 1px solid darkgray;
}

.generatedImages {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 550px));
  grid-auto-rows: 400px;
  width: 90%;
  height: 75%;
  border-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid darkgray;
  padding: 10px;
  overflow-y: scroll;
  gap: 10px;
}

.generatedImage {
  max-width: 550px;
  width: 100%;
  height: 400px;
  border-radius: 8px;
  object-fit: cover;
}

.blockedBtn {
  pointer-events: none;
  background-color: rgba(255, 0, 0, 0.171);
  border-color: darkred;
}

.generatingProcess {
  pointer-events: none;
  background-color: rgba(255, 255, 0, 0.555);
  border-color: yellow;
}

.badPromptNotification {
  display: flex;
  border: 1px solid lightcoral;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: -310px;
  width: 300px;
  height: 70px;
  background-color: rgb(180, 87, 87);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #FFF;
}

.showNotification {
  animation: showAndHideNotification 1.5s;
}

@keyframes showAndHideNotification {
  0% {
    right: -310px;
  }

  50% {
    right: 10px;
  }

  70% {
    right: 10px;
  }

  100% {
    right: -310px;
  }
}