@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h3, button, span, input[type=number] {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

textarea {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
  border: 1px solid white;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: gray;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev, .swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet {
  background-color: black !important;
  border: 1px solid white !important;
  opacity: .5 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  opacity: 1 !important;
}


.swiper-button-disabled {
  pointer-events: all !important;
}

.swiper-zoom-container {
  height: auto !important;
}

.swiper-zoom-container > img {
  object-fit: cover !important;
}