@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

.notFoundWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    height: calc(100vh - 70px);
    background-color: #121212;
    gap: 50px;
}

.gif {
    border-radius: 100%;
}

.text {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}